<h1>Restaurnats</h1>
<form action="/restaurants/" method="POST">
	<label>lat</label><br>
	<input type="text" name="lat" value="30.3"><br>
	<label>long</label><br>
	<input type="text" name="long" value="-97.7"><br>
	<label>radius</label><br>
	<input type="text" name="radius" value="5"><br>
	<label>categories</label><br>
	<input type="text" name="categories" ><br>
	<label>cuisines</label><br>
	<input type="text" name="cuisines" ><br>
	<label>price</label><br>
	<input type="number" name="price" value="ok"><br>
	<label>user_id</label><br>
	<input type="number" name="user_id" value="1"><br>
	<input type="submit" value="Submit">
</form>

<h3>Categories</h3>
<ul>
{% for item in data['categories'] %}
	<li>{{ item }}</li>
{% endfor %}
</ul>

<h3>Cuisines</h3>
<ul>
{% for item in data['cuisines'] %}
	<li>{{ item }}</li>
{% endfor %}
</ul>