<h1>New User</h1>
<form action="/restaurants/" method="POST">
	<label>lat</label><br>
	<input type="text" name="lat" ><br>
	<label>long</label><br>
	<input type="text" name="long" ><br>
	<label>radius</label><br>
	<input type="text" name="radius" ><br>
	<label>keyword</label><br>
	<input type="text" name="keyword" ><br>
	<label>min_price</label><br>
	<input type="number" name="min_price" ><br>
	<label>max_price</label><br>
	<input type="number" name="max_price" ><br>
	<label>user_id</label><br>
	<input type="number" name="user_id" ><br>
	<input type="submit" value="Submit">
</form>